<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-9">
      <h1>blog posts</h1>
      <br>
      <% @blogs.each do |blog| %>
        <h3>
          <%= link_to blog.title, blog %>
        </h3>
        <p id="blog-created-at"><strong>Posted:</strong> <%= blog.created_at.strftime("%m-%d-%Y") %></p>
        <p class="blog-text">
          <%= truncate(blog.body, :length => 250) %>
        </p>
        <% if user_signed_in? == true %>
          <%= link_to 'Edit', edit_blog_path(blog) %> |
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
      <br>
      <%= will_paginate @blogs, class: 'blog-pag' %>
      <br>
      <% if user_signed_in? %>
        <%= link_to 'New Blog', new_blog_path %>
      <% end %>
    </div>
  </div>
</div>